﻿@model GFTteste.Models.Rules
<h2 class="destaque"><span>@ViewData["title"]</span><strong>@Html.ActionLink(" + ", "Create")</strong></h2>
<table class="table-steel-blue" border="1">
    <tr>
        <th>Categories</th>
        <th>Sector</th>
        <th>Rule</th>
        <th>Value</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model.Items.Rule)
    { 
        <tr>
            <td>
                <div align="center">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
            </td>
            <td>
                <div align="center">
                    @Html.DisplayFor(modelItem => item.Sector)
                </div>
            </td>
            <td>
                <div align="center">
                    @{
                        switch (item.Condition)
                        {
                            case "mei":
                                @Html.Raw("<=")
                                break;
                            case "may":
                                @Html.Raw(">")
                                break;
                        }
                    }
                </div>
            </td>
            <td>
                <div align="center">
                    @String.Format("{0:c}", item.Value)
                </div>
            </td>
            <td>
                <div align="center">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Name })
                </div>
            </td>
            <td>
                <div align="center">
                    @Html.ActionLink("Delete", "Delete", new { id = item.Name })
                </div>
            </td>
        </tr>
    }
    </table>