﻿@model List<GFTteste.Models.Trade>
<h2 class="destaque">Bank portfolio categorized</h2>
@if (Model.Any())
{
    <table class="table-steel-blue" border="1">
        <tr>
            <th>Value</th>
            <th>Sector</th>
            <th>Categorie</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div align="center">
                        @String.Format("{0:c}", item.Value)
                    </div>
                </td>
                <td>
                    <div align="center">
                        @Html.DisplayFor(modelItem => item.ClientSector)
                    </div>
                </td>
                <td>
                    <div align="center">
                        @Html.DisplayFor(modelItem => item.Categorie)
                    </div>
                </td>
            </tr>
        }
    </table>
}